@import url(
  https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,300);

* {
  border-radius: 0px !important;
}

body {
  color: #666;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h5 {
  font-weight: normal !important;
  margin: 2px 0px 5px 0px;
  padding: 2px 0px;
  color: #666;
}

h1,
h2 {
  font-weight: 300 !important;
}

h5 {
  font-weight: 400 !important;
  color: #666;
}

h2 {
  font-size: 40px;
  line-height: 45px;
}

h5 {
  font-size: 20px;
  line-height: 25px;
}

p {
  margin: 2px 0px;
}

a:hover,
a:active,
a:focus {
  outline: 0;
}

hr {
  margin: 20px 0px;
}

:focus {
  outline: none;
  border: 0;
}

::-moz-focus-inner {
  border: 0;
}

.center {
  text-align: center;
}

.grey {
  color: #666;
}

.big {
  font-size: 20px !important;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  font-weight: 300;
}

/* Form */

/* Button */

/* Well */

/* Colors */

/* Background colors */

/* Columns */

/* Image alignment*/

.container {
  max-width: 960px;
}

/* Header */

header {
  background: #fff;
}

header .logo {
  padding: 15px 0px 15px 0;
}
header .logo img {
  vertical-align: top;
}

header .logo a {
  color: #666;
  display: inline-block;
  font-size: 27px;
  line-height: 40px;
  margin-bottom: 5px;
}

header .logo .hmeta {
  color: #777;
  font-size: 19px;
}
.logoText {
  display: inline-block;
}

/* Navigation */

.navbar {
  margin-bottom: 0px;
}

.navbar * {
  box-shadow: none !important;
  text-shadow: none !important;
  border-radius: 0px !important;
  font-weight: normal !important;
  font-size: 14px !important;
}

.navbar .navbar-collapse {
  padding-left: 0px;
}

.navbar {
  padding-left: 0px;
  background: #fafafa;
  filter: none !important;
}

.navbar button {
  font-size: 13px;
  padding: 6px 10px;
  color: #fff !important;
}

.navbar {
  border-top: 1px solid #eee !important;
  border-bottom: 1px solid #eee !important;
}

.navbar a,
.navbar a:visited {
  color: #666 !important;
}

.navbar .nav > li > a,
.navbar .nav > li > a:visited {
  color: #666 !important;
  padding: 15px 15px 15px;
  filter: none !important;
}

.navbar .nav > li > a:hover {
  background: #eee;
  color: #666;
}

.navbar .icon-bar {
  background: #fff;
}

/* Accordion */

/* Testimonial */

/* Support */

/* Portfolio */

/**** Isotope Filtering ****/

/**** Isotope CSS3 transitions ****/

/* PrettyPhoto */

/* Gallery */

/* Process */

/* Blog */

/* Comments */

/* Pagination */

/* Career */

/* Error log */

/* Features one */

/* Features two */

/* Features three */

.features-three .feat-inner {
  text-align: center;
  margin: 20px 0px 20px 0px;
}

.features-three .feat-inner {
  padding: 20px 10px 10px 10px;
  background: #fafafa;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.feat-inner {
  height: 530px;
}

.features-three i {
  font-size: 35px;
  margin-bottom: 10px;
}

/* Features four */

/* Service two */

/* Service Three */

/* Testimonial */

/* Color blocks */

/* Resume */

/* Social media icons */

/* Coming soon */

/* Make post */

/* About #2 */

/* Slider 1 (Parallax Slider) */

/* Slider 2 (Nivo slider) */

/* Clients page */

/* Image blocks */

/* Content */

.content {
  margin-top: 20px;
}

.content ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

.content ul li {
  padding: 5px 0px;
}

/* Discover */

/* Landing page */

/* Task */

/* Pricing table */

/* Products */

/* Projects */

/* Reg & Login Form */

/* Login and register form #2 */

/* Events */

/* Product */

/* Timeline */

/* Service */

/* Social */

/* Contact */

.cwell {
  padding: 10px;
  background: #fafafa;
  border: 1px solid #f1f1f1;
}

.cwell h5 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.cwell address {
  font-size: 13px;
}

/* 404 #2 */

/* Updated */

/* Revolution Slider */
/* Footer */

footer {
  font-size: 13px;
  background: #f0f0f0;
  border-top: 1px solid #e0e0e0;
  color: #444;
}

footer .copy {
  padding: 10px 0px;
  margin-top: 10px;
}

.titleName{
  margin-top: 210px;
}
/* Responsive */

@media (max-width: 991px) {
  .titleName{
    margin-top: 10px;
  }
  .feat-inner {
    height: 530px;
  }
  header .logo {
    text-align: center;
  }
  .navbar .navbar-collapse {
    padding-left: 15px;
  }
}

@media (max-width: 767px) {
  .titleName{
    margin-top: 10px;
  }
  .feat-inner {
    height: 530px;
  }
  header .logo {
    text-align: center;
  }
  .navbar .navbar-collapse {
    padding-left: 15px;
  }
}

@media (max-width: 480px) {
  .titleName{
    margin-top: 10px;
  }
  .feat-inner {
    height: 560px;
  }
}

@media (max-width: 320px) {
  .titleName{
    margin-top: 10px;
  }
  .feat-inner {
    height: 600px;
  }
}

.divTitle {
  margin-top: 45px;
}

.flexslider {
  background: transparent;
  overflow: hidden;
  margin: 0 0 0px;
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  color: #fff;
}

.flex-direction-nav .flex-next {
  right: 5px !important;
}

.flex-direction-nav .flex-prev {
  left: 5px !important;
}

.flex-control-nav {
  bottom: 10px;
}

.flex-control-paging li a {
  background: #fff;
  box-shadow: none;
  width: 8px;
  height: 8px;
}

.flex-control-paging li a:hover {
  background: #ddd;
}

.flex-control-paging li a.flex-active {
  background: #ddd;
}

.flex-center {
  text-align: center;
}

.flex-caption {
  overflow: hidden;
}

.flex-caption h2,
.flex-caption h5,
.flex-caption h6 {
  color: #fff;
}

.flex-caption p {
  font-size: 14px;
  line-height: 23px;
  max-width: 650px;
  margin: 0 auto;
}

.flex-back {
  padding: 10px;
}

/* nav sticky */

#navbarSticky {
  overflow: hidden;
  z-index: 500;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.mainContent {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .mainContent {
  padding-top: 60px;
}

.navHid {
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
  height: 48px;
  align-items: center;
}

.phoneHidden {
  visibility: visible;
}

/* Accordion */

/* Style the buttons that are used to open and close the accordion panel */
.showMore {
  background-color: rgb(220, 220, 220);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  /* text-align: left; */
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.showMore:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.accordionGallery {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordionGallery {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.nav > li > a:focus {
  background-color: transparent;
}

.collapse.in {
  display: block;
  height: auto;
  overflow-y: hidden;
}

.mySlides {
  display: none;
}
.w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}
.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}
.w3-hover-white{
  background-color: black;
  width: 5px;
  height: 5px;
  content: "\0";
  z-index: 500;
  position: absolute;
}

/* .autoplayphoto{
  height: 410px;
} */

.autoplayphoto>img{
  max-width:100%;
  max-height:100%;
}

.img-thumbnail{
  margin-bottom: 25px;
}